rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regras completas entram nos marcos de compra e revenda.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
